<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapd726_group3_newsbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAPD726Group3NewsBox">
<!--        <activity-->
<!--            android:name=".Detail"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".Explore"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_explore"-->
<!--            android:theme="@style/Theme.MAPD726Group3NewsBox.NoActionBar" />-->
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>